<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《{$title}》高清电影在线观看 - 百度影音 - 明星专题 - {$webname}</title>
<meta name="keywords" content="周润发主演的电影、电视剧，《{$title}》高清电影在线观看 - 百度影音">
<meta name="description" content="大地影院收集了{$title}演艺生涯主演的大部分电影和电视剧，提供《{$title}电影全集》高清电影在线观看 - 百度影音和{$title}的资料简介">
<include file="allstyle" />
</head>
<body class="allBg">
<include file="headerAll" />
<div class="vcate"><span>当前位置：</span>{$navtitle}</div>
<div class="wrapper">
  <div id="side">
    <div class="ibox submenu">
      <div class="boxTt top">
        <h2>热门专题排行</h2>
      </div>
      <div class="boxCon">
        <div class="reboList rL nrL">
          <ul>
            <gxcms name="special" limit="10" order="hits desc"> <li 
              <lt name="i" value="4">class="no2"</lt>
              ><em>
              <lt name="i" value="10">0{$i}
                <else />
                {$i}</lt>
              </em><a href="{$special.readurl}" title="{$special.title}">{$special.title|get_replace_html=0,15,'utf-8',true}</a>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
    <div class="submenu">
      <div class="boxTt top">
        <h2><strong>热播排行榜</strong></h2>
      </div>
      <div class="boxCon">
        <div class="tabbox"> <a onmouseover="switchTab('rebo',0,5,'on','');" class="on" id="Tab_rebo_0">电影</a> <a onmouseover="switchTab('rebo',1,5,'on','');" class="" id="Tab_rebo_1">电视剧</a> <a onmouseover="switchTab('rebo',2,5,'on','');" class="" id="Tab_rebo_2">综艺</a> <a onmouseover="switchTab('rebo',3,5,'on','');" class="" id="Tab_rebo_3">动漫</a> <a onmouseover="switchTab('rebo',4,5,'on','');" class="" id="Tab_rebo_4">纪录片</a> </div>
        <div class="reboList">
          <ul id="List_rebo_0">
            <gxcms name="video" cid="1" limit="10" order="hits desc">
              <eq name="i" value="1">
                <li class="no1">
                  <div class="reboImg">
                    <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" alt="{$video.title}" /><span class="rtop"></span></a></div>
                    <div class="imgBg"></div>
                  </div>
                  <div class="reboText">
                    <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                    <p>评分：{$video.score}</p>
                    <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
                </li>
                <else/>
                <lt name="i" value="4">
                  <li class="no2">
                    <else />
                  <li> 
                </lt>
                <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,13}</a> <span>{$video.score}</span>
                </li>
              </eq>
            </gxcms>
          </ul>
          <ul id="List_rebo_1" style="display:none;">
            <gxcms name="video" cid="2" limit="10" order="hits desc">
              <eq name="i" value="1">
                <li class="no1">
                  <div class="reboImg">
                    <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" alt="{$video.title}" /><span class="rtop"></span></a></div>
                    <div class="imgBg"></div>
                  </div>
                  <div class="reboText">
                    <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                    <p>评分：{$video.score}</p>
                    <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
                </li>
                <else/>
                <lt name="i" value="4">
                  <li class="no2">
                    <else />
                  <li> 
                </lt>
                <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,13}</a> <span>{$video.score}</span>
                </li>
              </eq>
            </gxcms>
          </ul>
          <ul id="List_rebo_2" style="display:none;">
            <gxcms name="video" cid="4" limit="10" order="hits desc">
              <eq name="i" value="1">
                <li class="no1">
                  <div class="reboImg">
                    <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" alt="{$video.title}" /><span class="rtop"></span></a></div>
                    <div class="imgBg"></div>
                  </div>
                  <div class="reboText">
                    <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                    <p>评分：{$video.score}</p>
                    <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
                </li>
                <else/>
                <lt name="i" value="4">
                  <li class="no2">
                    <else />
                  <li> 
                </lt>
                <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,13}</a> <span>{$video.score}</span>
                </li>
              </eq>
            </gxcms>
          </ul>
          <ul id="List_rebo_3" style="display:none;">
            <gxcms name="video" cid="3" limit="10" order="hits desc">
              <eq name="i" value="1">
                <li class="no1">
                  <div class="reboImg">
                    <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" alt="{$video.title}" /><span class="rtop"></span></a></div>
                    <div class="imgBg"></div>
                  </div>
                  <div class="reboText">
                    <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                    <p>评分：{$video.score}</p>
                    <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
                </li>
                <else/>
                <lt name="i" value="4">
                  <li class="no2">
                    <else />
                  <li> 
                </lt>
                <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,13}</a> <span>{$video.score}</span>
                </li>
              </eq>
            </gxcms>
          </ul>
          <ul id="List_rebo_4" style="display:none;">
            <gxcms name="video" cid="6" limit="10" order="hits desc">
              <eq name="i" value="1">
                <li class="no1">
                  <div class="reboImg">
                    <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" alt="{$video.title}" /><span class="rtop"></span></a></div>
                    <div class="imgBg"></div>
                  </div>
                  <div class="reboText">
                    <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                    <p>评分：{$video.score}</p>
                    <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
                </li>
                <else/>
                <lt name="i" value="4">
                  <li class="no2">
                    <else />
                  <li> 
                </lt>
                <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,13}</a> <span>{$video.score}</span>
                </li>
              </eq>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
    <div class="leftAd">{:get_cms_ads('special-left242-2')}</div>
  </div>
  <div class="dLeft ndl">
  <notempty name="banner">
    <div class="news_box bd">
      <div class="ibox iboxText playBox">
        <div class="boxList top ztbanner"> <img src="{$banner}" alt="{$special.title}"/> </div>
      </div>
    </div>
  </notempty>
    
    <div class="news_box bd">
      <div class="ibox iboxText playBox">
        <div class="boxList top news">
          <div class="newsTitle">
            <h1>{$title|get_replace_html=0,30}</h1>
            <div class="info">人气：{$hits}<em>|</em>专题更新时间：{$special.addtime|date='Y-m-d H:m:s',###}</div>
          </div>
          <div class="newsCont"> {$content} </div>
        </div>
      </div>
    </div>
    
    <notempty name="mids">
    <div class="ibox iboxList zttop">
      <div class="boxTt top">
        <h2>相关视频列表</h2>
      </div>
      <div class="boxCon1 cno">
        <div class="jsonPP boxList ztl">
          <ul>
            <gxcms name="video" ids="'.$mids.'" limit="25">
              <li class="mov">
                <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic"><img data-original="{$video.picurl}" src="{$webpath}youmtv/images/grey.gif" alt="{$video.title}" class="imgpic"/>
                  <gt name="video.hits" value="999"> <span class="hotV"></span> </gt>
                  </a>
                  <div class="ext">
                    <div class="extTxt">
                      <h3 class="extTt">{$video.title|get_replace_html=0,16}</h3>
                      <div class="extIntro"><span class="s1">类型：{$video.showname}</span><span class="s1">导演：
                        <notempty name="video.director">{$video.director|get_replace_html=0,10|get_actor_url}
                          <else />
                          未知</notempty>
                        </span> <span class="s1">地区：{$video.area} </span><span class="s1">年代：{$video.year|default='未录入'}</span> <span>
                        <if condition="$video.cid eq 4">主持
                          <elseif condition="$video.cid eq 3"/>
                          配音
                          <else/>
                          主演</if>
                        ：{$video.actor|get_replace_html=0,20|get_actor_url}</span> <span class="s2">{$video.content|get_replace_html=0,50,'utf-8',true}</span> </div>
                      <div class="extDig">{$video.score}</div>
                      <span class="extArrow"></span> </div>
                  </div>
                </div>
                <div class="minfo">
                  <div class="movTt"><a href="{$video.readurl}" title="{$video.title}">{$video['title']|get_replace_html=0,8|get_hilight=$keyword}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment">{$video.title|get_replace_html=0,8}</a></div>
                  <div class="r1">{$video.intro|get_replace_html=0,8|default='最新热片'}</div>
                  <div class="r2">评分：<i>{$video.score}</i></div>
                  <div class="r3"><span>类型：<a href="{$video.showurl}" target="_blank">{$video.showname}</a></span><span>地区：{$video.area} </span><span>上映年代：{$video.year}</span><span class="dy">导演：
                    <notempty name="video.director">{$video.director|get_replace_html=0,12|get_actor_url|get_hilight=$keyword}
                      <else />
                      未知</notempty>
                    </span></div>
                  <div class="r4"><span>
                    <if condition="$video.cid eq 4">主持
                      <elseif condition="$video.cid eq 3"/>
                      配音
                      <else/>
                      主演</if>
                    ：{$video.actor|get_replace_html=0,30|get_actor_url}</span> </div>
                  <div class="r5">{$video.content|get_replace_html=0,112,'utf-8',true|get_hilight=$keyword}</div>
                  <div class="r6"><a title="{$video.title}在线观看" target="kankanWindow" href="{$video.playerurl}">在线观看</a></div>
                </div>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
    </notempty>
    
    <notempty name="aids">
    <div class="ibox iboxText playBox">
      <div class="boxTt top">
        <h2>相关资讯列表</h2>
      </div>
       <ul class="newsList">
        <gxcms name="info" ids="'.$aids.'" limit="10">
          <li>
          <div class="ntt"><a href="{$info.readurl}" title="{$info.title}" target="_blank">{$info.title|get_replace_html=0,30}</a></div>
          <div class="ntext">{$info.remark}</div>
          </li>
        </gxcms>
        </ul>
    </div>
   </notempty>  
    
    
  </div>
</div>
{$inserthits}
<include file="footer" />
<script src="{$webpath}youmtv/js/lazyload.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	$(function(){	
		$("img").lazyload({
		  effect : "fadeIn"
	  });
	});
</script>
</body>
</html>