<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>电视剧频道–最新、好看的同步电视剧免费在线观看 – 大地影院 www.dadi.tv</title> 
<meta name="keywords" content="最新电视剧，免费电视剧，TVB，韩剧" />
<meta name="description" content="大地影院电视剧频道同步内地、韩国、香港、台湾电视台播出最新、最热电视剧，欢迎TVB剧，韩剧爱好者来大地影院电视剧频道观看最新最热的电视剧" />
<include file="system" />
</head>
<body>
<include file="header"/>
<div class="photos">
  <div class="btnBox"> <a id="lBtn">向前</a><a id="rBtn">向后</a> </div>
  <div id="viewer">
    <div id="viewerFrame">
        <gxcms name="video" cid="2" limit="15" order="stars desc,addtime desc,weekhits desc" mod="2" stars="5">
          <div class="scrImg"> <a class="imgBorder" href="{$video.readurl}" title="{$video.title}"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" alt="{$video.title}" /><b></b></a>
            <div class="scrTitle">
              <p class="p1"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,16}</a></p>
              <p><if condition="$video.cid eq 4">主持<elseif condition="$video.cid eq 3"/>配音<else/>主演</if>:{$video.actor|get_replace_html=0,12|get_actor_url}</p>
            </div>
          </div>
        </gxcms>
    </div>
  </div>
</div>

<!--主体开始-->
<!--检索-->
<div class="wrapper">
  <div class="tagbox">
    <h2>电视索引</h2>
    <ul class="taglink">
      <li><a href="{$webpath}index.php?s=video/lists/id/2/order/addtime" target="_blank">最新更新</a></li>
      <li><a href="{$webpath}index.php?s=video/lists/id/2/order/hits">人气最高</a></li>
      <li><a href="{$webpath}index.php?s=video/lists/id/2/order/score">评分最高</a></li>
    </ul>
    <dl class="tagbox_dl tagbox_dl_1">
      <dt>类型</dt>
      <if condition="get_channel_son(2) eq 0">
        <gxcms name="menu" ids="2">
          <gxfor name="menu.son" id="menuson">
            <dd><a href="{$menuson.showurl}">{$menuson.cname}</a></dd>
          </gxfor>
        </gxcms>
      </if>
    </dl>
    <dl class="tagbox_dl tagbox_dl_3">
      <dt>地区</dt>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/中国" >中国</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/内地" >内地</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/香港" >香港</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/台湾" >台湾</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/美国" >美国</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/韩国" >韩国</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/日本" >日本</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/英国" >英国</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/法国" >法国</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/印度" >印度</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/德国" >德国</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/area/泰国" >泰国</a></dd>
    </dl>
    <dl class="tagbox_dl tagbox_dl_2">
      <dt>年代</dt>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2012">2012</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2011">2011</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2010">2010</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2009">2009</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2008">2008</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2007">2007</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2006">2006</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2005">2005</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2004">2004</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2003">2003</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2002">2002</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2001">2001</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/2000">2000</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/1999">1999</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/year/1998">1998</a></dd>
    </dl>
    <dl class="tagbox_dl tagbox_dl_6">
      <dt>字母</dt>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/A" >A</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/B" >B</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/C" >C</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/D" >D</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/E" >E</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/F" >F</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/G" >G</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/H" >H</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/I" >I</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/J" >J</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/K" >K</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/L" >L</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/M" >M</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/N" >N</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/O" >O</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/P" >P</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/Q" >Q</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/R" >R</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/S" >S</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/T" >T</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/U" >U</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/V" >V</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/W" >W</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/X" >X</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/Y" >Y</a></dd>
      <dd><a href="{$webpath}index.php?s=video/lists/id/2/letter/Z" >Z</a></dd>
    </dl>
    <dl class="tagbox_dl tagbox_dl_4">
      <dt>明星</dt>
      <dd><a href="{$webpath}index.php?s=video/search/wd/杨幂">杨幂</a></dd>
      <dd><a href="{$webpath}index.php?s=video/search/wd/胡歌">胡歌</a></dd>
      <dd><a href="{$webpath}index.php?s=video/search/wd/冯绍峰">冯绍峰</a></dd>
      <dd><a href="{$webpath}index.php?s=video/search/wd/陈乔恩">陈乔恩</a></dd>
      <dd><a href="{$webpath}index.php?s=video/search/wd/孙俪">孙俪</a></dd>
      <dd><a href="{$webpath}index.php?s=video/search/wd/谢霆锋">谢霆锋</a></dd>
      <dd><a href="{$webpath}index.php?s=video/search/wd/何晟铭">何晟铭</a></dd>
      <dd><a href="{$webpath}index.php?s=video/search/wd/佟大为">佟大为</a></dd>
      <dd><a href="{$webpath}index.php?s=video/search/wd/潘粤明">潘粤明</a></dd>
    </dl>
  </div>
</div>
<!--检索结束-->
<!--推荐电影开始-->
<div class="wrapper">
  <div class="box b3">
    <div class="page">
      <div class="main mm">
        <div class="boxTt mfont">
          <h2><span>同步卫视</span></h2>
        </div>
        <div class="boxList d1">
          <ul>
            <gxcms name="video" cid="2" limit="8" order="stars desc,addtime desc" mod="2" stars="2,3,4">
              <lt name="i" value="7">
                <li class="mov">
                  <else />
                <li class="mov r"> 
              </lt>
              <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/></a>
                <div class="imgBg"></div>
                <div class="ext">
                  <div class="extTxt">
                    <h3 class="extTt">{$video.title|get_replace_html=0,16}</h3>
                    <div class="extIntro"><span>类型：{$video.showname}</span> <span>主演：{$video.actor|get_replace_html=0,16|get_actor_url}</span> <span>地区：{$video.area} </span> <span>人气：{$video.hits}</span> <span>年代：{$video.year}</span> </div>
                    <div class="extDig">{$video.score}</div>
                    <span class="extArrow"></span> </div>
                </div>
              </div>
              <p class="movTt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment">{$video.title|get_replace_html=0,8}</a></p>
              <p>{$video.intro|get_replace_html=0,8|default='最新热片'}</p>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--推荐电影结束-->
<div class="wrapper">
<div class="indexAd">{:get_cms_ads('tv980-1')}</div>
  <div class="box b4">
    <div class="page">
      <div class="main">
        <div class="boxTt mfont">
          <h2><span>今日电视剧</span></h2>
        </div>
        <div class="boxList d1">
          <ul>
            <gxcms name="video" cid="2" limit="12" order="addtime desc">
              <li class="mov">
                <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/>
                  <gt name="video.hits" value="999"> <span class="hotV"></span> </gt>
                  </a>
                  <div class="imgBg"></div>
                  <div class="ext">
                    <div class="extTxt">
                      <h3 class="extTt">{$video.title|get_replace_html=0,16}</h3>
                      <div class="extIntro"><span>类型：{$video.showname}</span> <span>主演：{$video.actor|get_replace_html=0,16|get_actor_url}</span> <span>地区：{$video.area} </span> <span>人气：{$video.hits}</span> <span>年代：{$video.year} </span> </div>
                      <div class="extDig">{$video.score}</div>
                      <span class="extArrow"></span> </div>
                  </div>
                </div>
                <p class="movTt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment">{$video.title|get_replace_html=0,8}</a></p>
                <p>{$video.intro|get_replace_html=0,8|default='最新热片'}</p>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="box b5">
    <div class="page">
      <div class="boxTt mfont rt1">
        <h2><span>电视剧好评榜</span></h2>
      </div>
      <div class="reboList">
        <ul>
          <gxcms name="video" cid="2" limit="10" order="score desc">
            <eq name="i" value="1">
              <li class="no1">
                <div class="reboImg">
                  <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/><span class="rtop"></span></a></div>
                  <div class="imgBg"></div>
                </div>
                <div class="reboText">
                  <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                  <p>评分：{$video.score}</p>
                  <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
              </li>
              <else/>
              <lt name="i" value="4">
                <li class="no2">
                  <else />
                <li> 
              </lt>
              <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,13}</a> <span>{$video.score}</span>
              </li>
            </eq>
          </gxcms>
        </ul>
      </div>
    </div>
  </div>
</div>


 <div class="wrapper">
  <div class="box b4">
    <div class="page">
      <div class="main">
        <div class="boxTt mfont lmm">
          <h2><span>国产剧</span></h2>
          <div class="act">
            <gxcms name="video" cid="15" limit="5" order="score desc"> <a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a>| </gxcms>
            <a href="{:get_channel_name(15,'showurl')}" title="更多" class="more">更多>></a> </div>
        </div>
        <div class="boxList d1">
          <ul id="List_redian_0">
            <gxcms name="video" cid="15" limit="12" order="weekhits desc,addtime desc">
              <li class="mov">
                <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/>
                  <gt name="video.hits" value="999"> <span class="hotV"></span> </gt>
                  </a>
                  <div class="imgBg"></div>
                  <div class="ext">
                    <div class="extTxt">
                      <h3 class="extTt">{$video.title|get_replace_html=0,16}</h3>
                      <div class="extIntro"><span>类型：{$video.showname}</span> <span>主演：{$video.actor|get_replace_html=0,16|get_actor_url}</span> <span>地区：{$video.area} </span> <span>人气：{$video.hits}</span> <span>年代：{$video.year} </span> </div>
                      <div class="extDig">{$video.score}</div>
                      <span class="extArrow"></span> </div>
                  </div>
                </div>
                <p class="movTt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment">{$video.title|get_replace_html=0,8}</a></p>
                <p>{$video.intro|get_replace_html=0,8|default='最新热片'}</p>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="box b5">
    <div class="page">
      <div class="boxTt mfont mf">
        <h2><span>热播榜</span></h2>
      </div>
      <div class="reboList">
        <ul>
          <gxcms name="video" cid="15" limit="10" order="hits desc">
            <eq name="i" value="1">
              <li class="no1">
                <div class="reboImg">
                  <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/><span class="rtop"></span></a></div>
                  <div class="imgBg"></div>
                </div>
                <div class="reboText">
                  <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                  <p>评分：{$video.score}</p>
                  <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
              </li>
              <else/>
              <lt name="i" value="4">
                <li class="no2">
                  <else />
                <li> 
              </lt>
              <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,11}</a> <span>{$video.score}</span>
              </li>
            </eq>
          </gxcms>
        </ul>
      </div>
    </div>
  </div>
</div>


 <div class="wrapper">
  <div class="box b4">
    <div class="page">
      <div class="main">
        <div class="boxTt mfont lmm">
          <h2><span>港台剧</span></h2>
          <div class="act">
            <gxcms name="video" cid="16,17" limit="5" order="score desc"> <a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a>| </gxcms>
            <a href="{:get_channel_name(16,17,'showurl')}" title="更多" class="more">更多>></a> </div>
        </div>
        <div class="boxList d1">
          <ul id="List_redian_0">
            <gxcms name="video" cid="16,17" limit="12" order="weekhits desc,addtime desc">
              <li class="mov">
                <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/>
                  <gt name="video.hits" value="999"> <span class="hotV"></span> </gt>
                  </a>
                  <div class="imgBg"></div>
                  <div class="ext">
                    <div class="extTxt">
                      <h3 class="extTt">{$video.title|get_replace_html=0,16}</h3>
                      <div class="extIntro"><span>类型：{$video.showname}</span> <span>主演：{$video.actor|get_replace_html=0,16|get_actor_url}</span> <span>地区：{$video.area} </span> <span>人气：{$video.hits}</span> <span>年代：{$video.year} </span> </div>
                      <div class="extDig">{$video.score}</div>
                      <span class="extArrow"></span> </div>
                  </div>
                </div>
                <p class="movTt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment">{$video.title|get_replace_html=0,8}</a></p>
                <p>{$video.intro|get_replace_html=0,8|default='最新热片'}</p>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="box b5">
    <div class="page">
      <div class="boxTt mfont mf">
        <h2><span>热播榜</span></h2>
      </div>
      <div class="reboList">
        <ul>
          <gxcms name="video" cid="16,17" limit="10" order="hits desc">
            <eq name="i" value="1">
              <li class="no1">
                <div class="reboImg">
                  <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/><span class="rtop"></span></a></div>
                  <div class="imgBg"></div>
                </div>
                <div class="reboText">
                  <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                  <p>评分：{$video.score}</p>
                  <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
              </li>
              <else/>
              <lt name="i" value="4">
                <li class="no2">
                  <else />
                <li> 
              </lt>
              <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,11}</a> <span>{$video.score}</span>
              </li>
            </eq>
          </gxcms>
        </ul>
      </div>
    </div>
  </div>
</div>




 <div class="wrapper">
  <div class="box b4">
    <div class="page">
      <div class="main">
        <div class="boxTt mfont lmm">
          <h2><span>韩国剧</span></h2>
          <div class="act">
            <gxcms name="video" cid="18" limit="5" order="score desc"> <a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a>| </gxcms>
            <a href="{:get_channel_name(18,'showurl')}" title="更多" class="more">更多>></a> </div>
        </div>
        <div class="boxList d1">
          <ul id="List_redian_0">
            <gxcms name="video" cid="18" limit="12" order="weekhits desc,addtime desc">
              <li class="mov">
                <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/>
                  <gt name="video.hits" value="999"> <span class="hotV"></span> </gt>
                  </a>
                  <div class="imgBg"></div>
                  <div class="ext">
                    <div class="extTxt">
                      <h3 class="extTt">{$video.title|get_replace_html=0,16}</h3>
                      <div class="extIntro"><span>类型：{$video.showname}</span> <span>主演：{$video.actor|get_replace_html=0,16|get_actor_url}</span> <span>地区：{$video.area} </span> <span>人气：{$video.hits}</span> <span>年代：{$video.year} </span> </div>
                      <div class="extDig">{$video.score}</div>
                      <span class="extArrow"></span> </div>
                  </div>
                </div>
                <p class="movTt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment">{$video.title|get_replace_html=0,8}</a></p>
                <p>{$video.intro|get_replace_html=0,8|default='最新热片'}</p>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="box b5">
    <div class="page">
      <div class="boxTt mfont mf">
        <h2><span>热播榜</span></h2>
      </div>
      <div class="reboList">
        <ul>
          <gxcms name="video" cid="18" limit="10" order="hits desc">
            <eq name="i" value="1">
              <li class="no1">
                <div class="reboImg">
                  <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/><span class="rtop"></span></a></div>
                  <div class="imgBg"></div>
                </div>
                <div class="reboText">
                  <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                  <p>评分：{$video.score}</p>
                  <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
              </li>
              <else/>
              <lt name="i" value="4">
                <li class="no2">
                  <else />
                <li> 
              </lt>
              <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,11}</a> <span>{$video.score}</span>
              </li>
            </eq>
          </gxcms>
        </ul>
      </div>
    </div>
  </div>
</div>




 <div class="wrapper">
  <div class="box b4">
    <div class="page">
      <div class="main">
        <div class="boxTt mfont lmm">
          <h2><span>欧美剧</span></h2>
          <div class="act">
            <gxcms name="video" cid="20" limit="5" order="score desc"> <a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a>| </gxcms>
            <a href="{:get_channel_name(20,'showurl')}" title="更多" class="more">更多>></a> </div>
        </div>
        <div class="boxList d1">
          <ul id="List_redian_0">
            <gxcms name="video" cid="20" limit="12" order="weekhits desc,addtime desc">
              <li class="mov">
                <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/>
                  <gt name="video.hits" value="999"> <span class="hotV"></span> </gt>
                  </a>
                  <div class="imgBg"></div>
                  <div class="ext">
                    <div class="extTxt">
                      <h3 class="extTt">{$video.title|get_replace_html=0,16}</h3>
                      <div class="extIntro"><span>类型：{$video.showname}</span> <span>主演：{$video.actor|get_replace_html=0,16|get_actor_url}</span> <span>地区：{$video.area} </span> <span>人气：{$video.hits}</span> <span>年代：{$video.year} </span> </div>
                      <div class="extDig">{$video.score}</div>
                      <span class="extArrow"></span> </div>
                  </div>
                </div>
                <p class="movTt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment">{$video.title|get_replace_html=0,8}</a></p>
                <p>{$video.intro|get_replace_html=0,8|default='最新热片'}</p>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="box b5">
    <div class="page">
      <div class="boxTt mfont mf">
        <h2><span>热播榜</span></h2>
      </div>
      <div class="reboList">
        <ul>
          <gxcms name="video" cid="20" limit="10" order="hits desc">
            <eq name="i" value="1">
              <li class="no1">
                <div class="reboImg">
                  <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/><span class="rtop"></span></a></div>
                  <div class="imgBg"></div>
                </div>
                <div class="reboText">
                  <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                  <p>评分：{$video.score}</p>
                  <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
              </li>
              <else/>
              <lt name="i" value="4">
                <li class="no2">
                  <else />
                <li> 
              </lt>
              <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,11}</a> <span>{$video.score}</span>
              </li>
            </eq>
          </gxcms>
        </ul>
      </div>
    </div>
  </div>
</div>




 <div class="wrapper">
  <div class="box b4">
    <div class="page">
      <div class="main">
        <div class="boxTt mfont lmm">
          <h2><span>日本剧</span></h2>
          <div class="act">
            <gxcms name="video" cid="19" limit="5" order="score desc"> <a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a>| </gxcms>
            <a href="{:get_channel_name(19,'showurl')}" title="更多" class="more">更多>></a> </div>
        </div>
        <div class="boxList d1">
          <ul id="List_redian_0">
            <gxcms name="video" cid="19" limit="12" order="weekhits desc,addtime desc">
              <li class="mov">
                <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/>
                  <gt name="video.hits" value="999"> <span class="hotV"></span> </gt>
                  </a>
                  <div class="imgBg"></div>
                  <div class="ext">
                    <div class="extTxt">
                      <h3 class="extTt">{$video.title|get_replace_html=0,16}</h3>
                      <div class="extIntro"><span>类型：{$video.showname}</span> <span>主演：{$video.actor|get_replace_html=0,16|get_actor_url}</span> <span>地区：{$video.area} </span> <span>人气：{$video.hits}</span> <span>年代：{$video.year} </span> </div>
                      <div class="extDig">{$video.score}</div>
                      <span class="extArrow"></span> </div>
                  </div>
                </div>
                <p class="movTt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment">{$video.title|get_replace_html=0,8}</a></p>
                <p>{$video.intro|get_replace_html=0,8|default='最新热片'}</p>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="box b5">
    <div class="page">
      <div class="boxTt mfont mf">
        <h2><span>热播榜</span></h2>
      </div>
      <div class="reboList">
        <ul>
          <gxcms name="video" cid="19" limit="10" order="hits desc">
            <eq name="i" value="1">
              <li class="no1">
                <div class="reboImg">
                  <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/><span class="rtop"></span></a></div>
                  <div class="imgBg"></div>
                </div>
                <div class="reboText">
                  <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                  <p>评分：{$video.score}</p>
                  <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
              </li>
              <else/>
              <lt name="i" value="4">
                <li class="no2">
                  <else />
                <li> 
              </lt>
              <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,11}</a> <span>{$video.score}</span>
              </li>
            </eq>
          </gxcms>
        </ul>
      </div>
    </div>
  </div>
</div>



 <div class="wrapper">
  <div class="box b4">
    <div class="page">
      <div class="main">
        <div class="boxTt mfont lmm">
          <h2><span>海外剧</span></h2>
          <div class="act">
            <gxcms name="video" cid="21" limit="5" order="score desc"> <a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a>| </gxcms>
            <a href="{:get_channel_name(21,'showurl')}" title="更多" class="more">更多>></a> </div>
        </div>
        <div class="boxList d1">
          <ul id="List_redian_0">
            <gxcms name="video" cid="21" limit="12" order="weekhits desc,addtime desc">
              <li class="mov">
                <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/>
                  <gt name="video.hits" value="999"> <span class="hotV"></span> </gt>
                  </a>
                  <div class="imgBg"></div>
                  <div class="ext">
                    <div class="extTxt">
                      <h3 class="extTt">{$video.title|get_replace_html=0,16}</h3>
                      <div class="extIntro"><span>类型：{$video.showname}</span> <span>主演：{$video.actor|get_replace_html=0,16|get_actor_url}</span> <span>地区：{$video.area} </span> <span>人气：{$video.hits}</span> <span>年代：{$video.year} </span> </div>
                      <div class="extDig">{$video.score}</div>
                      <span class="extArrow"></span> </div>
                  </div>
                </div>
                <p class="movTt"><a href="{$video.readurl}" title="{$video.title}">{$video.title|get_replace_html=0,8}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment">{$video.title|get_replace_html=0,8}</a></p>
                <p>{$video.intro|get_replace_html=0,8|default='最新热片'}</p>
              </li>
            </gxcms>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="box b5">
    <div class="page">
      <div class="boxTt mfont mf">
        <h2><span>热播榜</span></h2>
      </div>
      <div class="reboList">
        <ul>
          <gxcms name="video" cid="21" limit="10" order="hits desc">
            <eq name="i" value="1">
              <li class="no1">
                <div class="reboImg">
                  <div class="pic"><a href="{$video.readurl}" title="{$video.title}" target="_blank"><img src="{$webpath}youmtv/images/grey.gif" data-original="{$video.picurl}" alt="{$video.title}"/><span class="rtop"></span></a></div>
                  <div class="imgBg"></div>
                </div>
                <div class="reboText">
                  <p class="p1"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,5}</a></p>
                  <p>评分：{$video.score}</p>
                  <span class="p2">{$video.content|get_replace_html=0,32,'utf-8',true}</span> </div>
              </li>
              <else/>
              <lt name="i" value="4">
                <li class="no2">
                  <else />
                <li> 
              </lt>
              <em>{$i}</em><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,11}</a> <span>{$video.score}</span>
              </li>
            </eq>
          </gxcms>
        </ul>
      </div>
    </div>
  </div>
</div>



<!--主体结束-->
<!--底部-->
<include file="footer" />
<script type="text/javascript">
	$(function(){	
		$("#viewer").imageScroller({
			next:"lBtn",
			prev:"rBtn",
			frame:"viewerFrame",
			width:198,
			child: ".scrImg",
			auto: true
		});	 
		$("#viewer2").imageScroller({
			next:"lBtnz",
			prev:"rBtnz",
			frame:"viewerFrame2",
			width:224,
			child: ".ztList"
		});	 
		$(function() {
	  $("img").lazyload({
		  effect : "fadeIn"
	  });
	  toptiphtml();
  });
	});
</script>
<script src="{$webpath}youmtv/js/lazyload.js" type="text/javascript" charset="utf-8"></script>
<script language="JavaScript" type="text/javascript" src="{$webpath}youmtv/js/bnJs/jquery.imageScroller.js"></script>
</body>
</html>