<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>《{$title}》-{$playname}-{$cname}-百度影音高清在线观看/免费下载-{$webname}</title>
<meta name="keywords" content="《{$title}》,{$title}-{$playname}在线观看/免费下载,{$title}百度影音,{$title}高清版">
<meta name="description" content="《{$title}》-{$playname}在线播放/免费下载,{$content|get_replace_html=0,100,'utf-8',true}">
<include file="allstyle" />
<script type="text/javascript">
$(document).ready(function(){
	var name='{$title}';
    var num='{$playname}';
	var url=window.location.href;
    CheckAdd(name,'gxhis',url,num)
});
</script>
</head>
<body class="allBg">
<div id="all">
  <h1><a title="{$webname}" href="/"><img src="{$webpath}youmtv/images/allLogo.gif" alt="{$webname}"/></a></h1>
  <div class="nav">
    <ul>
      <li class="no"><a href="{$webpath}" title="首页">首页</a></li>
      <li><a href="{$movieurl}" title="电影">电影</a></li>
      <li><a href="{$tvurl}" title="电视剧">电视剧</a></li>
      <li><a href="{$zongyiurl}" title="综艺">综艺</a></li>
      <li><a href="{$animeurl}" title="动漫">动漫</a></li>
      <li><a href="{$jilupianurl}" title="纪录片">纪录片</a></li>
      <li><a href="/list/24.html" title="直播">直播</a></li>
      <li><a href="/list/1.html" title="更多">更多</a></li>
   </ul>
    <if condition="C('user_register') eq 1"><span id="Login" class="login"></span></if>
    <span class="his" id="ggg" onmouseover="fnDisplayMenu(this,'mnuArtStyles');" onmouseout="fnHideMenu('mnuArtStyles'); fnRemoveHighlight('mnuArtStyles');" ><a class="headerMnuLink" id="mnuArtStylesLink" href="javascript:void(0);">我看过的</a> </span>
    <div class="popup1" id="mnuArtStyles"  style="display:none" onmouseover="fnDisplayMenu2($('#mnuArtStylesLink'),'mnuArtStyles');" onmouseout="fnHideMenu('mnuArtStyles'); fnRemoveHighlight('mnuArtStyles');" >
      <div class="sub"></div>
      <div id="history"></div>
    </div>
  </div>
  <div class="search">
    <div class="box">
      <form action="{$webpath}index.php?s=video/search" method="post" name="search" id="search" target="_blank" >
        <div class="input">
          <input type="text" value="请输入视频名、导演或主演" id="xdwwd" name="wd" autocomplete="off" maxlength="35">
        </div>
        <div class="btn">
          <input name="ok" class="bat" type="submit" value=" " id="ok"/>
        </div>
         <div id="xdwss"></div>
      <script language="JavaScript" type="text/javascript" src="{$webpath}youmtv/js/searchajax.js"></script>
      </form>
    </div>
  </div>
</div>
<style type="text/css">
<!--
.STYLE1 {
	font-size: 18px;
	font-weight: bold;
}
.STYLE2 {font-size: 16px}
.STYLE3 {color: #FF0000}
-->
</style>
<table width="980" height="60" border="0" align="center">
  <tr>
    <td width="412"><table width="412" border="0">
      <tr>
        <td><span class="STYLE1">正在播放：{$title} {$playname}</span></td>
      </tr>
      <tr>
        <td><span class="STYLE2"><a href="{$showurl_p} " target="_blank">{$cname_p}</a> > <a href="{$showurl} " target="_blank">{$cname}</a></span>  <strong><a href="/index.php?s=video/lists/id/1/year/{$year}" target="_blank">{$year|default='未录年份'}</a> / {$language|default='语言未知'}  您是第 <span class="STYLE3">{$hits}</span> 个观众!</strong>
</td>
      </tr>
    </table></td>
	<td width="100"><div align="center"><a href="/help" target="_blank">帮助</a> - <a href="/guestbook/lists.html" target="_blank">反馈</a></div></td>
    <td width="468"><div align="right">{:get_cms_ads('play-ysj')}</div></td>
  </tr>
</table>

<!--电影播放区域开始-->
<div id="playBox">
  <div class="wrapper">
    <div class="playArea">
      <div id="play-box">
        <div class="center"> {$player} </div>
      </div>
    </div>
  </div>
</div>
<div class="ligopen"></div>
<div class="wrapper">
  <div class="ibox diversity">
    <ul>
      <li class="L1"><span id="Score">{$score}</span> <span id="Scorenum"> {$score} </span> (<span id="Scoreer" class="Scoreer">{$scoreer}</span>人评价)</li>
      <li class="l">|</li>
      <li><span class="Up">顶{$up}</span></li>
      <li class="l">|</li>
      <li><span class="Down">踩{$down}</span></li>
      <li class="l">|</li>
      <li><span id="fav">收藏</span></li>
      <li class="l">|</li>
      <li class="L4"><span class="errorto operation"> <em onclick="boxopen(3)">报错</em>
        <div id="errorbox" class="openbox" >
          <div class="u2">
            <input name="content" type="text" value="具体信息：" id="gu_content" size="25" class="text"/>
            <button type="submit" onclick="GuestPost()" id="submit" class="submit">提交</button>
          </div>
          <div class="off">X</div>
          <div class="j"></div>
        </div>
        </span> </li>
      <li class="l">|</li>
      <li><span class="bf"><a href="#comment">点评</a></span></li>
      <li class="L5">
        <div class="sharebox">
          <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"><!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tsina"></a>
<a class="bds_qzone"></a>
<a class="bds_tqq"></a>
<a class="bds_renren"></a>
<a class="bds_t163"></a>
<a class="bds_tsohu"></a>
<a class="shareCount"></a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;mini=1&amp;uid=676338" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
<!-- Baidu Button END --> </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="indexAd">{:get_cms_ads('index-980-1')}</div>
</div>
<!--同类推荐-->
<div class="wrapper">
  <div class="dLeft">
    <div class="ibox iboxList playBox">
      <div class="boxTt top">
        <h2>挑选剧集</h2>
      </div>
      <div class="boxCon1 cno">
        <div id="videoData" class="boxList">
          <div id="List_bf_0" class="playConL" style="display: block;">
            <gxfor name ="playlists" id="playlist">
              <gt name="playlist.count" value="0">
                <div class="play_list">
                  <p class="title">{$playlist.display_name} </p>
                  <div id="plist">
                    <ul class="split-list">
                      <gxfor name="playlist.playlist" id="video">
                      <li 
                      <eq name="video.playname" value="$playname"> class="playon"</eq>
                      ><a href="{$video.playurl}" target="_blank">{$video.playname}</a>
                      </li>
                      <eq name="i" value="55">
                    </ul>
                    <ul id="all-plist" class="split_list all-plist" style="display:none;">
                      </eq>
                      </gxfor>
                    </ul>
                    <gt name="playlist.count" value="55">
                      <div id="pmoreContain" class="playMoreA pmoreContain"><a onfocus="this.blur()" class="plMore" id="plMore">展开列表</a></div>
                    </gt>
                  </div>
                </div>
              </gt>
            </gxfor>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox iboxList playBox">
      <div class="boxTt top">
        <h2><a href="{$showurl}">{$cname}推荐</a></h2>
      </div>
      <ul class="tlMov">
        <gxcms name="video" cid="'.$cid.'" limit="12" order="stars desc,hits desc"> <li 
          
          <eq name="i" value="12">class="no"</eq>
          >
          <div class="imgBox"><a title="{$video.title}" href="{$video.readurl}" class="pic" target="_blank"><img src="{$video.picurl}" onerror="this.src='{$webpath}views/images/nophoto.jpg'" alt="{$video.title}" /></a> </div>
          <p class="movTt"><a href="{$video.readurl}" title="{$video.title}" target="_blank">{$video.title|get_replace_html=0,8}</a><a target="_blank" class="movInfo" title="{$video.title}在线评论" href="{$video.readurl}#comment" target="_blank">{$video.title|get_replace_html=0,8}</a></p>
          <p>{$video.intro|get_replace_html=0,8|default='最新热片'}</p>
          </li>
        </gxcms>
      </ul>
    </div>
    <div>{:get_cms_ads('play-left720')}</div>
    <!--影片评论-->
    <if condition="C('user_comment') eq 1">
      <div class="ibox iboxList playBox"> <a name="cmm" id="comment"></a>
        <div class="boxTt top">
          <h2>影片评论</h2>
        </div>
        <div class="comm"><include file="comm"/></div>
        <!--发表评论表单 -->
      </div>
    </if>
  </div>
  <div class="dRight">
    <div class="ibox submenu">
      <div class="boxTt top">
        <h2>影片信息</h2>
      </div>
      <div class="reboList rL">
        <div class="info">
          <h2 title="{$title}"> <a href="{$readurl}" title="{$title}{$playname}">{$title|get_replace_html=0,7}</a></h2>
          <p><strong>
            <eq name='cid' value='4'>主持
              <else/>
              <eq name='cid' value='3'>配音</eq>
              主演</eq>
            ：</strong>
            <notempty name="actor">{$actor|get_replace_html=0,15|get_actor_url}
              <else />
              未知</notempty>
          </p>
          <p><strong>
            <eq name='cid' value='4'>电视台
              <else/>
              导演</eq>
            ：</strong>
            <notempty name="director">{$director|get_replace_html=0,16|get_actor_url}
              <else />
              未知</notempty>
          </p>
          <p><strong>地区：</strong>{$area|default='未知'}</p>
          <p><strong>上映：</strong>{$year|default='未知'} </p>
          <p><strong>更新：</strong>{$addtime|date='Y-m-d',###}</p>
          <p><strong>点播次数：</strong>{$hits}</p>
        </div>
        <div class="intro">
          <div class="introCont cont"><span class="cl"></span> <span class="more" txt="{$content|get_replace_html=0,300,'utf-8',true}" >{$content|get_replace_html=0,130,'utf-8',true}</span> <a href="#" class="contMore">查看更多</a> <span class="cr"></span></div>
        </div>
      </div>
      <span class="bl"></span><span class="br"></span></div>
{:get_cms_ads('play-right240')}
  </div>
</div>
{$inserthits} <include file="footer" />
<script src="{$webpath}youmtv/js/comment.js" type="text/javascript"></script>
<script type="text/javascript" src="/app/offlights.js"></script>
</body>
</html>